/.BehaviorTypeSelector.java._trace
/.WorldModelStateProvider.java._trace
/.WorldPanel.java._trace
/.AbstractFrameworkGUI.java._trace
/.FrameworkGUI.java._trace
/.FrameworkMouseAdapter.java._trace
/.WindowClosingHandler.java._trace
